@{
    ViewData["Title"] = "Role";

}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@using AD.BLL.ModelsDTO;
@using Microsoft.AspNetCore.Identity
@model IdentityUser
@{
    RoleViewModel role = new RoleViewModel();
 
    
}
<p>@User.IsInRole("Admin")</p>
<p>@User.IsInRole("User")</p>


<form method="post" asp-controller="Home" enctype="multipart/form-data">
    @* <input asp-for="@Model.UserName" /> *@

    <div class="grid-are ">
        <div class="colum">
            <p>Пользователь</p>
        </div>

        <div class="colum">
            <p>Дать права</p>
        </div>
        <div class="colum">
            <p>Забрать права</p>
        </div>
        
        
      
        <div class="colum">
            <p>@Model</p>
        </div>
       
        @* @if (@Model.IsAdmin) *@
        @* { *@
        @*     <div class="colum"> *@
        @*         <button disabled asp-action="Creation" class="btn btn-info">кликк</button> *@
        @*     </div> *@
        @* *@
        @*     <div class="colum"> *@
        @*         <button asp-action="Remove" type="submit" class="btn btn-danger">кликк</button> *@
        @*     </div> *@
        @* } *@
        @* else *@
        @* { *@
        @*     <div class="colum"> *@
        @*         <button asp-action="Creation" class="btn btn-info">кликк</button> *@
        @*     </div> *@
        @* *@
        @*     <div class="colum"> *@
        @*         <button disabled asp-action="Remove" type="submit" class="btn btn-danger">кликк</button> *@
        @*     </div> *@
        @* } *@

    </div>

    <button type="submit" id="onBit">test</button>
</form>



<!--<script src="~/js/test.js">-->
@*alert('syka');*@
<!--</script>-->
<script type="text/javascript" language="javascript">
    //$(document).ready(function () {
    //    $("#onBit").click(function () {
    //        alert("bm")
    //    })
    //});
    $("#onBit").click(function (e) {
        console.log("plus");
        var dat = {
          @*  UserName: '@Model.UserName',
            Id:'@Model.Id'*@
        };
        debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action("Remove", "Home")',
            dataType:"json",
            data: dat,
            success: function (data) {
                debugger;
                alert(data)
            },
            error: function (error) {
                alert(error)
            }



        })
    })


    $(document).click(function (e) {
        console.log(e);
    })

</script>

@* С помощью .ready мы вызываем функцию до закрузки компонента  *@
@* .click по клику аргумент который раписывается в скобках, используется для ID кнопки *@