@using AD.BLL.ModelsDTO
@model List<UserViewModel>

@{
    ViewData["Title"] = "Role";

}

<form method="post" asp-controller="Home">

    <div>
        <input type="text" name="fullname" placeholder="Фамилия" />
        <button asp-action="Find" type="submit">Найти</button>
    </div>



    <div class="grid-are ">
        <div class="colum">
            <p>Пользователь</p>
        </div>

    

        @foreach (var user in Model)
        {
            <div class="colum">

                <div class="item" name="@user.Email" >

                    <p class="child">@user.UserName</p>
                    <p class="child">@user.FullName</p>
                    <p class="child">@user.Email</p>
                    <p class="child">@user.PhoneNumber</p>

                </div>
            </div>
        }

    </div>
</form>


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>

   

    $(".item").click(function () {
        var name = $(this).attr('name');
        window.location = "/Home/ViewUser?email=" + name;
        //$.ajax({
        //    type: "GET",
        //    data: {email: name},
        //    url: "/Home/ViewUser" ,
        //    success:function(data) {
        //        window.location = data;
        //    }
        //})
    })


</script>